lexemes.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="lexemes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lexeme" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="lang">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-z][a-z][a-z]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="form" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>